#full-modal-login {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    display: block;
    position: fixed;
    z-index: 999999;
    display: none;
}
#modal-login {
    width: 35%;
    padding: 1em 1em;
    margin: 3% auto;
    background-color: white;
    z-index: 99999;
    border: 2px solid #ccc;
    position: relative;
}
.modal-login-1 {
    width: 100%;
    text-align: center;
    margin: 1em 0em;
}
.modal-login-1 img {
    width: 25%;
}
.modal-login-2 {
    width: 100%;
}
.modal-login-a {
    width: 100%;
    margin-bottom: 1em;
}
.modal-login-a p {
    margin:0;
    font-weight: bold;
}
.modal-login-a input {
    width: 100%;
    padding: 6px;
    margin: 6px 0px;
}
#login-submit {
    width: 100%;
    padding: 10px;
    background-color: #1E9E74;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
}
.modal-login-3 {
    width: 100%;
    display: flex;
}
.modal-login-3a {
    width: 50%;
    text-align: left;
}
.modal-login-3aa {
    width: 30%;
    background-color: tomato;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.modal-login-3b {
    width: 50%;
    text-align: right;
    padding: 10px 0px;
}
#close-modal-login {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 2%;
}
@keyframes Openscale 
{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes Closecale 
{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}