/*@media only screen and (max-width: 2560px) {
    #header-web {
        padding-left: 200px;
    }
}*/
@media screen and (max-width: 2560px) {
    #header-web {
        width: 100%;
    }
    #loginandsign {
        width: 50%;
    }
}
@media screen and (max-width: 1440px) {
    #web {
        width: 100%;
    }
    #header-web {
        width: 100%;
    }
    .wrapper {
        width: 90%;
    }
    #type-shoes {
        width: 100%;
    }
    #menu {
        width: 45%;
        padding-left: 25px;
    }
    #search-header {   
        width: 30%;
    }
    #loginandsign {
        width: 40%;
    }
    #circleuser {
    /* padding-left: 30px; */
        width: 30%;
    }
}
@media screen and (max-width:1354px) {
    #web {
        width: 100%;
    }
    #header-web {
        width: 100%;
    }
    #menu {
        width: 40%;
        height: 100px;
        padding-left: 0px;
    }
}
@media screen and (max-width: 1270px) {
    #web {
        width: 100%;
    }
    #header-web {
        width: 100%;
    }
    #menu {
        width: 40%;
        height: 100px;
        padding-left: 0px;
    }
    #loginandsign {
        display: none;
    }
    #circleuser {
        /* padding-left: 30px; */
        width: 70%;
        text-align: center;
    }
}
@media screen and (max-width:1153px) {
    #web {
        width: 100%;
    }
    #header {
        width: 100%;
        height: auto;
        background-image: none !important;
    }
    #logo {
        width: 20%;
        height: 100px;
    }
    #menu {
        display: none;
    }
    #search-header {
       display: none;
    }
    .menu-hide-home {
        padding: 10px 55px 10px 5%;
        width: 40%;
        display: block;
    }
    #circleuser {
        width: ;
    }
    #circleuser i {
        text-align: right;
    }
    #cart {
        width: 30%;
        padding-right: 5%;
    }
    #header-right {      
        width: 40%;
    }
    .wrapper {
        width: 100%;
    }
    #type-shoes {
        width: 100%;
    }
    #type-shoes ul {
        width: 100%;
    }
    #type-shoes ul li a img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    #input-responsive {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #33A698;
    }
    #input-responsive input {
        padding: 8px 8px;
        width: 80%;
        margin: 4px 0px;
    }
    .product {
        width: 80%;
        margin: auto;
    }
    .name-product {
        width: 25%;
        /* height: 300px; */
        text-align: center;
    }
    #news {
        width: 80%;
        margin: auto;
    }
    #images-banner-responsive {
        display: block;
        width: 100%;
        height: auto;
    }
    #images-banner-responsive img {
        width: 100%;
        object-fit: contain;
    }
    .banner2 {
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 1024px) {
    #web {
        width: 100%;
    }
    #web {
        width: 100% !important;
    }
    .name-product {
        width: 25%;
        /* height: 300px; */
        text-align: center;
    }
    #menu {
        width: 100%;
        position: absolute;
        top: 50px;
        padding-left: 0;
    }
    #menu ul {
        width: 100%;
        flex-direction:column;
        background-color: white;
        /* height: 500px; */
    }
    #menu ul li {
        width:100%;
        padding:1em 0em;
        cursor: pointer;
    }
    #menu ul li:hover {
        background-color: #1E9E74;
        color: white;
    }
    #menu ul li a:hover {
        color: white;
    }
    #news {
        width: 90%;
    }
    .near-footer {
        width: 100%;
    }
    .fashion-star img {
        width: 100%;
        height: auto;
    }
    #footer {
        flex-direction: row;
    }
    #title-product {
        margin-top: 40px;
    }
    #dong-menu {
    display: block;
    font-size: 16px;
    position: absolute;
    right: 20px;
    padding: 4px;
    border: 2px solid #1E9E74;
    top: 210px;
    }
    #circleuser {
    width: 70%;
    }
     #menu ul li .sub-menu li {
        display: none;
    }
    #menu ul li .sub-menu li .sub-menu1 {
        display: none;
    }
    #menu ul li .sub-menu {
        position: unset;
        display: none !important;
        border-radius: 0px;
        background-color: white;
        width: 100% !important;
    }
    #menu ul li .sub-menu li{
        width: 100% !important;
        display: block !important;
        padding: 16px 0px !important;
    }
    #menu ul li .sub-menu li a {
        width: 100% !important;
        display: block !important;
        text-align: center;
    }
    #menu-down {
    
    }
    #modal-contact-one {
        width: 25%;
    }
    #full-modal-contact-two {
        width: 35%;
    }
    #fullmess {
        width: 35%;
    }
}
@media screen and (max-width: 768px) {
    #web {
        width: 100% !important;
    }
    .product {
        width: 90%;
        margin: auto;
    }
    .wrapper {
        width: 100%;
    }
    .name-product {
        width: 50%;
        height: auto;
        text-align: center;
    }
    #type-shoes {
        width: 100%;
    }
    #type-shoes ul {
        width: 100%;
    }
    #type-shoes ul li {
        width: 22%;
    }
    #type-shoes ul li a img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .banner2 {
        width: 90%;
        height: auto;
    }
    #news {
        flex-direction: column-reverse;
    }
    .news-right {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .news-right img {
        object-fit: cover;
    }
    #news-left {
        width: 90%;
        height: auto;
        margin: 30px auto;
    }
    .near-footer {
        width: 90%;
        margin: auto;
    }
    .fashion-star img {
        width: 100%;
        height: auto;
    }
    .middle {
        display: none;
    }
    #footer {
        width: 90%;
    }
    .right {
        width: 30%;
    }
    .left {
        width: 100%;
        margin-right: 5%;
    }
    .middle {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .right-end {
        width: 100%;
    }
    #news-left img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .near-footer {

    }
    #dong-menu {
        display: block;
    }
    #modal-contact-one {
        width: 33%;
    }
    #full-modal-contact-two {
        width: 40%;
    }
    #fullmess {
        width: 40%;
    }
}
@media only screen and (max-width:700px) 
{
    #footer {
        flex-direction: column;
    }
    .right {
        margin: 1.5em 0em;
    }
}
@media only screen and (max-width: 520px) {
    #modal-contact-one {
        display: none!important;
    }
    .name-product:hover .view-modal-product {
        display: none;
    }
}
@media only screen and (max-width: 426px) 
{
    .buy-now {
        display: none;
    }
    #footer {
        flex-direction: column;
    }
    .wrapper {
        width: 100%;
    }
    .news-right-list {
        width: 100%;
        height: auto;
    }
    #news-left {
        width: 100%;
        height: auto;
    }
    #title-product {
        margin-top: 50px;
    }
    .right {
        margin: 1em 0em;
    }
    .fashion-star img {
        width: 170%;
    }
    #title-product h6 {
        padding: 1em 1em;
    }
    .menu-hide-home {
        padding: 10px;
    }
    .banner2 img {
        width: 100%;
        object-fit: contain;
        margin-bottom: 2em;
    }
    #title-product {
        padding-top: 0;
    }
    #modal-contact-one {
        display: none;
    }
}
@media only screen and (max-width:375px) {
    .menu-hide-home {
        width: 25%;
        padding: 10px 25px;
    }
    #circleuser {
        width: 65%;
}
    #logo {
        width: 30%;
    }
    .cost {
        height: 56px;
        display: grid;
    }
    .menu-hide-home {
        width: 25%;
        padding: 10px 25px 10px 10px;
    }
    #circleuser {
        width: 60%;
    }
    #header-right {
        width: 45%;
    }
}